@use './colours.scss' as c;

header {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
    background-color: c.$accent-one;
    color: c.$accent-text;

    h1 {
        padding: 0;
        margin: 0;
    }

    ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        li {
            transform: scale(1);
            transition: all 0.2s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}